mixin nav(data)
    nav.nav&attributes(attributes)

        button.nav__trigger
            != pugHelpers.Icon.call(locals, {iconName: 'close-icon', className: 'nav__close-icon'})
            != pugHelpers.Icon.call(locals, {iconName: 'menu-icon',className: 'nav__menu-icon'})

        - var navList = data;

        ul.nav__list

            each item, index in navList

                - var subnavList = item.subnavList
                - var itemClass = subnavList ? 'nav__item  nav__item_subnav' : 'nav__item';
                - var itemClassMod = item.itemClassMod;

                li(class=`${itemClass} ${itemClassMod}`)

                    a.nav__link(href=item.href)
                        span.nav__link-text #{item.title}

                    != pugHelpers.Icon.call(locals, {iconName: 'arrow-downdown-icon', className: 'nav__dropdown-icon'})

                    if subnavList


                        ul.nav__list-sub.subnav
                            each subnavItem in subnavList

                                li.subnav__item
                                    a.subnav__link(href=subnavItem.href) #{subnavItem.title}


        .nav__controls
            a.nav__search(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'search-icon',className: 'nav__search-icon'})


            a.nav__user(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'user-2-icon',className: 'nav__user-icon'})
                .nav__user-text Личный кабинет
            a.nav__phone.phone(href="tel:88002222905")
                != pugHelpers.Icon.call(locals, {iconName: 'phone-icon',className: 'phone__icon'})
                | 8-800-2222-905
